{{- range .Values.vaultSecrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "{{ .refreshInterval }}"
  secretStoreRef:
    name: {{ .secretStoreName }}
    kind: SecretStore
  target:
    name: {{ .name }}
  data:
  {{- if kindIs "slice" .secretKey }}
  {{- $secretPath := .secretPath }}
  {{- range .secretKey }}
  - secretKey: {{ . }}
    remoteRef:
      key: "{{ $secretPath }}"
      property: {{ . }}
  {{- end }}
  {{- else }}
  - secretKey: {{ .secretKey }}
    remoteRef:
      key: "{{ .secretPath }}"
      property: {{ .secretKey }}
  {{- end }}
{{- end }}
